*{
    margin: 0;
    padding: 0;
}


/* header style */
.header {
    background-color: rgb(255,255,255,0.7);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 0px 25px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    gap: 20px
}

a{
    text-decoration: none;
    color: #555;
}

#cartimage{
    width: 30px;
    height: 30px;
}

.headerContent{
     margin-top: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.headerContentItem{
      flex-basis: 50%;
    min-width: 300px;
}

.headerContentItem h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}
.headerContentItem p {
    color: #555;
}

.headerContentItem img{
    width: 100%;
    padding: 50px;
}

    /* <!--  featured categories  --> */

.categories{
    margin: 70px 0px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px ;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row img{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
