*{
    margin: 0;
    padding: 0;
}


/* header style */
.header {
    background-color: rgb(255,255,255,0.7);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 0px 25px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    gap: 20px
}

a{
    text-decoration: none;
    color: #555;
}

#cartimage{
    width: 30px;
    height: 30px;
}

.headerContent{
     margin-top: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.headerContentItem{
      flex-basis: 50%;
    min-width: 300px;
}

.headerContentItem h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}

.headerContentItem p {
    color: #555;
}

.headerContentItem img{
    width: 100%;
    padding: 50px;
}

    /* <!--  featured categories  --> */

.categories{
    margin: 70px 0px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px ;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row img{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

/* <!------- Our Featured Products -----> */

.feature-products{
    max-width: 1000px;
    margin: auto;
    padding: 0% 25px;
    display: flex;
    flex-direction: column;
}

.feature-products h2{
    color: #555;
    line-height: 60px;
    text-align: center;
}

.customUnderlineContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.customUnderLine{
    width: 80px;
    height: 5px;
    background-color: #ff523b;
    border-radius: 10px;
}

.product-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products-card{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px; 
    flex-basis: calc(25% - 20px);
    margin-bottom: 50px;
    cursor: pointer;
    transition: transform 0.5s;
}

 .rating img{
   width: 15px; 
   height: 16px; 
} 

.product-title{
    color: #555;
}

.product-pricing{
    color: #555;
    font-size: 14px;
}

.products-card:hover{
    transform: translateY(-5px);
}

.smart-watch-banner{
    margin-top: 80px;
    background-color: rgb(255,255,255,0.7);
    padding: 30px 0px;
}

.smart-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
    justify-content: space-around;
    align-items: center;
    
}
.smart-watch-img-container{
    flex-basis: 50%;
    min-width: 300px;
}


.smart-watch-img-container img{
    max-width: 100%;
    padding: 50px 0;
}

.smart-watch-banner-content{
     flex-basis: 50%;
     min-width: 300px;
}

.smart-watch-banner-content p{
    color: #555;
}

.smart-watch-banner-content h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    
}



.buyNow{
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    cursor: pointer;
}

.buyNow:hover{
    background-color: #563434;
}


/* <!----------testimonial---------------> */
.testimonialParentContainer{
    padding-top: 100px;
}

.testimonialInnerContainer{
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.testimonialCards{
     display: flex;
     flex-direction: column;
     align-items: center;
     cursor: pointer;
     padding: 40px 20px 40px;
     box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
     cursor: pointer;
     transition: transform 0.5s;
     min-width: 250px;
     margin-bottom: 30px;
     flex-basis: calc(30% - 50px);
}

.testimonialContent{
    font-size: 12px;
    margin: 12px 0px;
    color: #777;
}

.testimonialCardsImg{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonialCardsName{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}


/* <!----------Brands---------------> */
.BrandingContainer{
    margin: 100px auto;
}

.BrandingInnerContainer{
    display: flex;
    justify-content: space-around;
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
    
}

.BrandingContainer img{
    cursor: pointer;
    filter: grayscale(100%);
}

.BrandingContainer img:hover{
     filter: grayscale(0%);
}


/* <!----------Footer---------------> */
.footerContainer{
    background: #222831;
    color: #eeeeee;
    font-size: 14px;
    padding: 60px 0 20px;
    /* margin-bottom: 300px; */
}

.footerInnercontainer{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    max-width: 1300px;
    margin: auto;
    padding: 0px 25px;
}

.footerColume{
    min-width: 250px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.footerColume1{
    flex-basis: 30%;
}

.footerColume1 h3{
    color: #ff523b;
    margin-bottom: 20px;
    font-weight: 500;
}

.footerColume1 p{
    color: #eeeeee;
}


.footerStoreContainer{
    display: flex;
    align-items: center;
    gap:4px;
    margin-top: 20px;
}

.footerStoreContainer img{
    width: 140px;
    margin: 5px 0px;
}

.footerColumn2 {
	flex: 1;
	align-items: center;
}

.footerColumn2  h3 {
    color: #ff523b;
	margin-bottom: 20px;
	font-weight: 500;
			}

.footerColumn2 p {
	color: #eeeeee;
	margin-bottom: 10px;
	cursor: pointer;
	transition: color 0.3s ease;
}

.footerColumn2 p:hover {
	color: #ff523b;
}

.footerColume3 {
	flex-basis: 12%;
	align-items: center;
}

 .footerColume3 h3 {
	color: #ff523b;
	margin-bottom: 20px;
	font-weight: 500;
}
			
.footerColume3 p {
	color: #eeeeee;
	margin-bottom: 10px;
	cursor: pointer;
	transition: color 0.3s ease;
}
.footerColume3 p:hover {
    color: #ff523b;
			}
		
	
            
            /* CSS For Pdoducts.html */

.allProductsSection{
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
}

.allProductsSectionLable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px 50px;
}

.allProductsSectionLable select{
    border: 1px solid #ff523b;
}  

.paginationButtonContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;
}

.paginationButton{
    display: inline-block;
    border: 1px solid #ff523b;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.paginationButton:hover{
    background-color: #ff523b;
    color: #fff;

}

#Products--feature-products{
    margin: 0%;
    padding: 0%;
}


/* ----------------------Product-detail style -------------- */

.product-details-container {
	margin-top: 80px;
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.product-details-content {
		flex-basis: calc(50% - 50px);
		padding: 20px;
		min-width: 300px;
		display: flex;
		flex-direction: column;
}

.product-details-img-content {
		gap: 4px;
}

.product-details-big-image {
	width: 100%;
}

.product-small-img-container-wrapper {
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.product-small-img-container {
	flex-basis: 24%;
}

.product-small-img-container img {
	width: 100%;
}

